*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
}

h1, h2, h3{
    text-align: center;
}

/* FIM DAS FOMRATAÇÕES GERAIS */

div.links-centro{
    margin: 15px;
    text-align: center;
}

a.p-ativa{
    background-color: green;
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    margin: 5px 15px;
}

a.link-top{
    background-color: white;
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    margin: 5px 15px;
}

/* FIM DAS FORMATAÇÕES DE LINKS */

div.logo{
    height: 150px;
}

nav{
    text-align: center;
}

/* FIM DAS FORMATAÇÕES DO CABEÇALHO*/

main{
    width: 80%;
    background-color: white;
    border-radius: 7px;
    color: black;
    margin: 25px auto;

}